/* --------- TOUT LE DOCS --------- */

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora'), local('Lora-Regular'), url(https://fonts.gstatic.com/s/lora/v9/4vqKRIwnQQGUQQh-PnvdMA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	background-color: #2C272A;
	font-family: Lora, serif;
	padding-right: 0px;
}
.portfolio{
	padding-left: 0px;
	padding-right: 0px;
}

.separation {
	height: 40px;
}

/* --------- NAV --------- */
.navbar-right{
	margin-right: 15px;
}

nav ul li{
	margin-right: 10px;
}

nav ul li:hover{
	background-color: #E9E2E7;
	margin-right: 10px;
	color: #2C272A;
}

.corps {
	padding: 10px;
}



/* --------- CSS ZONE IMAGE --------- */

.fondrose{
	background-color: #E9E2E7;
	padding-left: 0px;
	padding-right: 0px;
}

/* --------- MES TRAVAUX --------- */

	/* --------- IMAGES --------- */

#challenge1 {
    background-image: url(../img/challenge1.png);
	height: 100%;
	width: 95%;
	background-size: cover;
	background-position: center center;
}

#challenge2 {
    background-image: url(../img/challenge2.png);
	height: 100%;
	width: 95%;
	background-size: cover;
	background-position: center center;
}

#challenge3 {
    background-image: url(../img/challenge3.png);
	height: 100%;
	width: 95%;
	background-size: cover;
	background-position: center center;
}

#challenge4 {
    background-image: url(../img/challenge4.png);
	height: 100%;
	width: 95%;
	background-size: cover;
	background-position: center center;
}

#challenge5 {
    background-image: url(../img/challenge5.png);
	height: 100%;
	width: 95%;
	background-size: cover;
	background-position: center center;
}

#challenge6 {
    background-image: url(../img/challenge6.png);
	height: 100%;
	width: 95%;
	background-size: cover;
	background-position: center center;
}


	/* --------- PROPRIETES IMAGES --------- */
.challenge {
    height: 200px;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.challenge a:link 
{ 
 text-decoration:none; 
} 

.challenge h3 {
    font-size: 250%;
    color: #fff;
    text-transform: uppercase;
}

.challenge h4 {
    width: 75%;
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.challenge:first-child {
    margin: 20px;
}

.technique {
	padding: 20px 0px 40px 0px;
}

.technique p {
    width: 90%;
    text-align: center;
    color: #fff;
    cursor: default;
    cursor: pointer;
}

.challenge .technique {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0;
    transition: .3s;
    flex-wrap: wrap;
}

.challenge:hover .technique {
    background-color: #222222;;
    opacity: .9;
    transition: .3s;
}


/* css zone presentation*/

.fondGris{
	background-color: red;
}

.presentation{
	color: white;
}

.presentation h4 {
	text-align: center;
	font-size: 22px;
}

.presentation h5 {
	text-align: center;
	font-size: 25px;
}

.presentation p {
	font-size: 20px;
}

.presentation ul li {
	font-size: 18px;
}
.matete {
	margin: 20px 0 20px 0;
	z-index: 10;
	border-radius: 100%;

}

img.matete:hover{
	height: 310px;
	width: 220px;
}



/* --------- PAGE 1 --------- */

textarea {
	display: inline-block;
	height: 600px;
	width: 500px;
}
.css {
	float: right;
}


/* --------- CSS PAGE CONTACT --------- */

.corpMail{
	background-color: #E9E2E7;
	width: 96%;
}

h2 {
	text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: black; 
    margin-top: 35px;
    margin-bottom: 15px;
}

label {
    color: black;
    font-family: 'Roboto', sans-serif;
}

button {
    font-family: 'Roboto', sans-serif;
    background-color: #2C272A;
    color: white;
}


img {
    margin-top: 25px;
    margin-bottom: 30px;
}

.confirm {
    margin-bottom: 10px;
    margin-top: 50px;
}

/* --------- CV --------- */
/* latin */


.curiculum {
	padding-left: 0px;
	padding-right: 0px;
}
.rowCV{
	background-color: #E9E2E7;
	margin-left: 0px;
	margin-right: 0px;
}

p {
	font-size: 15px;
}

/*1er colone*/
.colone1 {
	background-color: #2C272A;
	color: white;
}
/*format des info perso*/

.nom {
	font-size: 22px;
	font-weight: bold;
	margin-top: 20px;
}

.detailsInfoPerso {
	font-size: 18px;
}

.detailsInfoPerso a {
	text-decoration: none;
	cursor: pointer;
	color: white;
}

.annee {
	font-size: 16px;
	font-weight: bold;
}

/*format des competences*/

.titreCv{
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
	color: white;
}

h3 {
	font-size: 22px;
	font-weight: bold;
	margin-top: 40px;
}


/*format des div pourcentage*/

.quatreVingt {
	width: 80%;
    height: 20px;
    background-color: #E7C1D6;
    text-align: center;
    color: #2C272A;
    margin-bottom: 3px;
}

.soixanteDix {
	width: 70%;
    height: 20px;
    background-color: #E7C1D6;
    text-align: center;
    color: #2C272A;
    margin-bottom: 3px;
}

.soixante {
	width: 60%;
    height: 20px;
    background-color: #E7C1D6;
    text-align: center;
    color: #2C272A;
    margin-bottom: 3px;
}

.cinquante {
	width: 50%;
    height: 20px;
    background-color: #E7C1D6;
    text-align: center;
    color: #2C272A;
    margin-bottom: 3px;
}

/*Colone 2*/

.colone2 {
	background-color: #E9E2E7;
	color: #2C272A;
}

/*format des experiences*/


.poste {
	float: left;
	font-size: 20px;
	font-weight: bold;
	margin-top: 60px;
	margin-bottom: 30px;
}

.date {
	float: left;
	margin-left: 30px;
	font-size: 15px;
	font-weight: italic;
	margin-top: 60px;
}

.lieu {
	float: right;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 18px;
	margin-top: 60px;
}

.entreprise {
	float: right;
	font-size: 17px;
	margin-top: 60px;
}

.tache {
	margin-left: 25px;
}

.immo {
	padding-right: 0px;
}


/* --------- FOOTER --------- */
footer {
	height: 50px;
	background-color: #2C272A;
	color: #FFFFFF;
}

.icons {
	height: 30px;
	width: 30px;
	margin: 0px 10px;
}
.contact {
	text-align: center;
	vertical-align: center;
	margin-top: 10px;
	text-decoration: none;
	color: #FFFFFF;
}

.pContact{
display: inline;
}

.contact a {
 text-decoration:none; 
 color: #FFFFFF;
}

.contact a:hover {
 text-decoration:none; 
 color: #FFFFFF;
}

p{
	margin-top: 10px;
}






